USE [master]
GO
/****** Object:  Database [SmartAssembly]    Script Date: 23/3/2021 13:42:55 ******/
CREATE DATABASE [SmartAssembly]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SmartAssembly', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SmartAssembly.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SmartAssembly_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SmartAssembly_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SmartAssembly].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SmartAssembly]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 23/3/2021 13:42:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[Email] [varchar](100) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Number] [varchar](20) NOT NULL,
	[Adress] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Client_1] PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Component]    Script Date: 23/3/2021 13:42:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Component](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Perfomance] [int] NOT NULL,
	[TypePart] [varchar](20) NOT NULL,
	[TypeFormat] [varchar](20) NULL,
	[TypeMemory] [varchar](20) NULL,
	[Socket] [varchar](50) NULL,
	[HasIntegratedVideo] [bit] NULL,
	[Channels] [int] NULL,
	[VideoLevel] [int] NULL,
	[FanLevel] [int] NULL,
	[NeedHighFrecuency] [bit] NULL,
	[Capacity] [int] NULL,
	[FanSize] [int] NULL,
	[MaxFrecuency] [int] NULL,
	[Stock] [int] NOT NULL,
	[Watts] [int] NOT NULL,
 CONSTRAINT [PK_Component] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Component_Computer]    Script Date: 23/3/2021 13:42:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Component_Computer](
	[ID_Component] [int] NOT NULL,
	[ID_Computer] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Computer]    Script Date: 23/3/2021 13:42:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Computer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_Order] [int] NOT NULL,
	[TypeUse] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Computer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Computer_Error]    Script Date: 23/3/2021 13:42:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Computer_Error](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_Computer] [int] NOT NULL,
	[ID_Component_Error] [int] NULL,
	[ID_Component_Replace] [int] NULL,
	[Commentary] [varchar](max) NOT NULL,
 CONSTRAINT [PK_ComputerError] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 23/3/2021 13:42:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Email] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Employee_1] PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 23/3/2021 13:42:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[OrderDelivery] [datetime] NOT NULL,
	[Email_Employee] [varchar](100) NULL,
	[Email_client] [varchar](100) NOT NULL,
	[Commentary] [varchar](max) NULL,
	[OrderState] [int] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_State]    Script Date: 23/3/2021 13:42:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_State](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Order_State] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeFormat]    Script Date: 23/3/2021 13:42:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeFormat](
	[Name] [varchar](20) NOT NULL,
 CONSTRAINT [PK_TypeFormat_1] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeMemory]    Script Date: 23/3/2021 13:42:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeMemory](
	[Name] [varchar](20) NOT NULL,
 CONSTRAINT [PK_TypeMemory_1] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypePart]    Script Date: 23/3/2021 13:42:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypePart](
	[Name] [varchar](20) NOT NULL,
 CONSTRAINT [PK_TypePart_1] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeUse]    Script Date: 23/3/2021 13:42:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeUse](
	[Name] [varchar](50) NOT NULL,
	[Cpu] [int] NULL,
	[Fan] [int] NULL,
	[Ram] [int] NULL,
	[Gpu] [int] NULL,
	[HDD] [int] NULL,
	[SSD] [int] NULL,
 CONSTRAINT [PK_TypeUse] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Client] ([Email], [Name], [Number], [Adress]) VALUES (N'juan@gmail', N'juan', N'123123123', N'berutti 2062')
GO
SET IDENTITY_INSERT [dbo].[Component] ON 

INSERT [dbo].[Component] ([ID], [Name], [Price], [Perfomance], [TypePart], [TypeFormat], [TypeMemory], [Socket], [HasIntegratedVideo], [Channels], [VideoLevel], [FanLevel], [NeedHighFrecuency], [Capacity], [FanSize], [MaxFrecuency], [Stock], [Watts]) VALUES (1, N'Intel I3', CAST(12000.00 AS Decimal(10, 2)), 30, N'cpu', N'_', N'DDR4', N'1151', 1, 2, 10, 10, 0, NULL, NULL, 2633, 100, 50)
INSERT [dbo].[Component] ([ID], [Name], [Price], [Perfomance], [TypePart], [TypeFormat], [TypeMemory], [Socket], [HasIntegratedVideo], [Channels], [VideoLevel], [FanLevel], [NeedHighFrecuency], [Capacity], [FanSize], [MaxFrecuency], [Stock], [Watts]) VALUES (3, N'intel i5', CAST(15000.00 AS Decimal(10, 2)), 50, N'cpu', N'_', N'DDR4', N'1151', 1, 2, 10, 10, 0, NULL, NULL, 2933, 100, 70)
INSERT [dbo].[Component] ([ID], [Name], [Price], [Perfomance], [TypePart], [TypeFormat], [TypeMemory], [Socket], [HasIntegratedVideo], [Channels], [VideoLevel], [FanLevel], [NeedHighFrecuency], [Capacity], [FanSize], [MaxFrecuency], [Stock], [Watts]) VALUES (5, N'Intel i7', CAST(19000.00 AS Decimal(10, 2)), 70, N'cpu', N'_', N'DDR4', N'1151', 1, 2, 10, 10, 1, NULL, NULL, 3200, 99, 90)
SET IDENTITY_INSERT [dbo].[Component] OFF
GO
INSERT [dbo].[Component_Computer] ([ID_Component], [ID_Computer]) VALUES (3, 1019)
INSERT [dbo].[Component_Computer] ([ID_Component], [ID_Computer]) VALUES (5, 1020)
INSERT [dbo].[Component_Computer] ([ID_Component], [ID_Computer]) VALUES (16, 1020)
GO
SET IDENTITY_INSERT [dbo].[Computer] ON 

INSERT [dbo].[Computer] ([ID], [ID_Order], [TypeUse]) VALUES (1019, 1, N'design')
INSERT [dbo].[Computer] ([ID], [ID_Order], [TypeUse]) VALUES (1020, 2, N'design')
INSERT [dbo].[Computer] ([ID], [ID_Order], [TypeUse]) VALUES (1021, 3, N'design')
SET IDENTITY_INSERT [dbo].[Computer] OFF
GO
SET IDENTITY_INSERT [dbo].[Computer_Error] ON 

INSERT [dbo].[Computer_Error] ([ID], [ID_Computer], [ID_Component_Error], [ID_Component_Replace], [Commentary]) VALUES (1, 1019, 5, 3, N'error de inicio')
INSERT [dbo].[Computer_Error] ([ID], [ID_Computer], [ID_Component_Error], [ID_Component_Replace], [Commentary]) VALUES (8, 1019, 5, 3, N' error de inicio')
INSERT [dbo].[Computer_Error] ([ID], [ID_Computer], [ID_Component_Error], [ID_Component_Replace], [Commentary]) VALUES (9, 1019, 3, NULL, N' error de inicio')
SET IDENTITY_INSERT [dbo].[Computer_Error] OFF
GO
INSERT [dbo].[Employee] ([Email]) VALUES (N'franco@gmail.com')
INSERT [dbo].[Employee] ([Email]) VALUES (N'kati@gmail.com')
INSERT [dbo].[Employee] ([Email]) VALUES (N'vilu@gmail.com')
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([ID], [Price], [OrderDate], [OrderDelivery], [Email_Employee], [Email_client], [Commentary], [OrderState]) VALUES (1, CAST(65400.00 AS Decimal(18, 2)), CAST(N'2021-03-17T23:55:37.137' AS DateTime), CAST(N'2021-03-18T23:55:37.137' AS DateTime), N'franco@gmail.com', N'juan@gmail', N' error de inicio', 2)
INSERT [dbo].[Order] ([ID], [Price], [OrderDate], [OrderDelivery], [Email_Employee], [Email_client], [Commentary], [OrderState]) VALUES (2, CAST(65400.00 AS Decimal(18, 2)), CAST(N'2021-03-18T00:05:05.323' AS DateTime), CAST(N'2021-03-19T00:05:05.323' AS DateTime), N'kati@gmail.com', N'juan@gmail', NULL, 1)
INSERT [dbo].[Order] ([ID], [Price], [OrderDate], [OrderDelivery], [Email_Employee], [Email_client], [Commentary], [OrderState]) VALUES (3, CAST(65400.00 AS Decimal(18, 2)), CAST(N'2021-03-18T00:05:41.257' AS DateTime), CAST(N'2021-03-19T00:05:41.257' AS DateTime), N'vilu@gmail.com', N'juan@gmail', NULL, 1)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[Order_State] ON 

INSERT [dbo].[Order_State] ([ID], [Name]) VALUES (1, N'Uncompleted')
INSERT [dbo].[Order_State] ([ID], [Name]) VALUES (2, N'Completed')
INSERT [dbo].[Order_State] ([ID], [Name]) VALUES (3, N'Delivered')
SET IDENTITY_INSERT [dbo].[Order_State] OFF
GO
INSERT [dbo].[TypeFormat] ([Name]) VALUES (N'_')
INSERT [dbo].[TypeFormat] ([Name]) VALUES (N'ATX')
INSERT [dbo].[TypeFormat] ([Name]) VALUES (N'ITX')
GO
INSERT [dbo].[TypeMemory] ([Name]) VALUES (N'_')
INSERT [dbo].[TypeMemory] ([Name]) VALUES (N'DDR3')
INSERT [dbo].[TypeMemory] ([Name]) VALUES (N'DDR4')
GO
INSERT [dbo].[TypePart] ([Name]) VALUES (N'accesory')
INSERT [dbo].[TypePart] ([Name]) VALUES (N'cpu')
INSERT [dbo].[TypePart] ([Name]) VALUES (N'fan')
GO
INSERT [dbo].[TypeUse] ([Name], [Cpu], [Fan], [Ram], [Gpu], [HDD], [SSD]) VALUES (N'design', 60, 50, 16, 60, 1000, 480)
INSERT [dbo].[TypeUse] ([Name], [Cpu], [Fan], [Ram], [Gpu], [HDD], [SSD]) VALUES (N'development', 40, 30, 8, 10, 0, 240)
INSERT [dbo].[TypeUse] ([Name], [Cpu], [Fan], [Ram], [Gpu], [HDD], [SSD]) VALUES (N'gaming', 30, 30, 8, 40, 1000, 120)
GO
ALTER TABLE [dbo].[Component] ADD  CONSTRAINT [DF_Component_TypeFormat]  DEFAULT ('___') FOR [TypeFormat]
GO
ALTER TABLE [dbo].[Component] ADD  CONSTRAINT [DF_Component_TypeMemory]  DEFAULT ('___') FOR [TypeMemory]
GO
ALTER TABLE [dbo].[Component] ADD  CONSTRAINT [DF_Component_Socket]  DEFAULT ('___') FOR [Socket]
GO
ALTER TABLE [dbo].[Component] ADD  CONSTRAINT [DF_Component_HasIntegratedVideo]  DEFAULT ((0)) FOR [HasIntegratedVideo]
GO
ALTER TABLE [dbo].[Component] ADD  CONSTRAINT [DF_Component_Channels]  DEFAULT ((0)) FOR [Channels]
GO
ALTER TABLE [dbo].[Component] ADD  CONSTRAINT [DF_Component_VideoLevel]  DEFAULT ((0)) FOR [VideoLevel]
GO
ALTER TABLE [dbo].[Component] ADD  CONSTRAINT [DF_Component_FanLevel]  DEFAULT ((0)) FOR [FanLevel]
GO
ALTER TABLE [dbo].[Component] ADD  CONSTRAINT [DF_Component_NeedHighFrecuency]  DEFAULT ((0)) FOR [NeedHighFrecuency]
GO
ALTER TABLE [dbo].[Component] ADD  CONSTRAINT [DF_Component_Capacity]  DEFAULT ((0)) FOR [Capacity]
GO
ALTER TABLE [dbo].[Component] ADD  CONSTRAINT [DF_Component_Size]  DEFAULT ((0)) FOR [FanSize]
GO
ALTER TABLE [dbo].[Component] ADD  CONSTRAINT [DF_Component_MaxFrecuency]  DEFAULT ((0)) FOR [MaxFrecuency]
GO
ALTER TABLE [dbo].[Component] ADD  CONSTRAINT [DF_Component_Stock]  DEFAULT ((10)) FOR [Stock]
GO
ALTER TABLE [dbo].[Component] ADD  CONSTRAINT [DF_Component_Watts]  DEFAULT ((20)) FOR [Watts]
GO
ALTER TABLE [dbo].[Component]  WITH CHECK ADD  CONSTRAINT [FK_Component_TypeFormat] FOREIGN KEY([TypeFormat])
REFERENCES [dbo].[TypeFormat] ([Name])
GO
ALTER TABLE [dbo].[Component] CHECK CONSTRAINT [FK_Component_TypeFormat]
GO
ALTER TABLE [dbo].[Component]  WITH CHECK ADD  CONSTRAINT [FK_Component_TypeMemory] FOREIGN KEY([TypeMemory])
REFERENCES [dbo].[TypeMemory] ([Name])
GO
ALTER TABLE [dbo].[Component] CHECK CONSTRAINT [FK_Component_TypeMemory]
GO
ALTER TABLE [dbo].[Component]  WITH CHECK ADD  CONSTRAINT [FK_Component_TypePart] FOREIGN KEY([TypePart])
REFERENCES [dbo].[TypePart] ([Name])
GO
ALTER TABLE [dbo].[Component] CHECK CONSTRAINT [FK_Component_TypePart]
GO
ALTER TABLE [dbo].[Component_Computer]  WITH CHECK ADD  CONSTRAINT [FK_Component_Computer_Component] FOREIGN KEY([ID_Component])
REFERENCES [dbo].[Component] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Component_Computer] CHECK CONSTRAINT [FK_Component_Computer_Component]
GO
ALTER TABLE [dbo].[Component_Computer]  WITH CHECK ADD  CONSTRAINT [FK_Component_Computer_Computer] FOREIGN KEY([ID_Computer])
REFERENCES [dbo].[Computer] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Component_Computer] CHECK CONSTRAINT [FK_Component_Computer_Computer]
GO
ALTER TABLE [dbo].[Computer]  WITH CHECK ADD  CONSTRAINT [FK_Computer_Order] FOREIGN KEY([ID_Order])
REFERENCES [dbo].[Order] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Computer] CHECK CONSTRAINT [FK_Computer_Order]
GO
ALTER TABLE [dbo].[Computer]  WITH CHECK ADD  CONSTRAINT [FK_Computer_TypeUse] FOREIGN KEY([TypeUse])
REFERENCES [dbo].[TypeUse] ([Name])
GO
ALTER TABLE [dbo].[Computer] CHECK CONSTRAINT [FK_Computer_TypeUse]
GO
ALTER TABLE [dbo].[Computer_Error]  WITH CHECK ADD  CONSTRAINT [FK_ComputerError_ComponentError] FOREIGN KEY([ID_Component_Error])
REFERENCES [dbo].[Component] ([ID])
GO
ALTER TABLE [dbo].[Computer_Error] CHECK CONSTRAINT [FK_ComputerError_ComponentError]
GO
ALTER TABLE [dbo].[Computer_Error]  WITH CHECK ADD  CONSTRAINT [FK_ComputerError_ComponentReplace] FOREIGN KEY([ID_Component_Replace])
REFERENCES [dbo].[Component] ([ID])
GO
ALTER TABLE [dbo].[Computer_Error] CHECK CONSTRAINT [FK_ComputerError_ComponentReplace]
GO
ALTER TABLE [dbo].[Computer_Error]  WITH CHECK ADD  CONSTRAINT [FK_ComputerError_Computer] FOREIGN KEY([ID_Computer])
REFERENCES [dbo].[Computer] ([ID])
GO
ALTER TABLE [dbo].[Computer_Error] CHECK CONSTRAINT [FK_ComputerError_Computer]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Client1] FOREIGN KEY([Email_client])
REFERENCES [dbo].[Client] ([Email])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Client1]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Employee1] FOREIGN KEY([Email_Employee])
REFERENCES [dbo].[Employee] ([Email])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Employee1]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Order_State] FOREIGN KEY([OrderState])
REFERENCES [dbo].[Order_State] ([ID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Order_State]
GO
USE [master]
GO
